ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F3B90;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2F3B90;
}

.active {
    background-color: #4682B4;
}

.space-blank {
    margin-top: 30px;
}

.border-img {
    border: 3px solid #000;

}